# ROS 2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# OneDrive noise
*.tmp
__pycache__/

# Ignore generated view_frames files
frames_*.gv
frames_*.pdf
